@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  /* font-weight: 900; */
}

body {
  height: 100vh;
}

/* Jumbotron */
.jumbotron {
  background-image: url(./assets/jumbotron-bg.webp);
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 25rem;
}

.jumbotron h2 {
  font-size: 3em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
}

.jumbotron h3 {
  font-size: 2em;
  font-weight: 400;
  color: #fff;
}
/* Jumbotron */
  
  

